### Q1. Create a list of five integers and print it.

In [ ]:

numbers = [10, 20, 30, 40, 50]
print(numbers)

[10, 20, 30, 40, 50]

### Q2. Write a program to find the length of a list.

In [ ]:

my_list = [5, 8, 12, 20, 25]
length = len(my_list)
print("Length of the list:", length)

Length of the list: 5

### Q3. Create a tuple with three elements and print the second item.

In [ ]:

my_tuple = ('apple', 'banana', 'cherry')
print("The second item is:", my_tuple[1])

The second item is: banana

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [ ]:

my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "Cairo"
}

print("Keys in the dictionary:", my_dict.keys())

Keys in the dictionary: dict_keys(['name', 'age', 'city'])

### Q5. Write a program to convert a list into a set.

In [ ]:

my_list = [1, 2, 3, 2, 4, 1]
my_set = set(my_list)

print("Original list:", my_list)
print("Converted set:", my_set)

Original list: [1, 2, 3, 2, 4, 1]
Converted set: {1, 2, 3, 4}

### Q6. Create a string and print its first and last characters.

In [ ]:

my_string = "Python"

first_char = my_string[0]
last_char = my_string[-1]

print("First character:", first_char)
print("Last character:", last_char)

First character: P
Last character: n

### Q7. Take input from the user and print it.

In [ ]:
user_input = "Sample input"
print("Q7: User input:", user_input)

### Q8. Write a program to add two numbers entered by the user.

In [ ]:
num1, num2 = 15, 25
result = num1 + num2
print("Q8: Sum of", num1, "and", num2, "is:", result)

### Q9. Use `type()` function to check the data type of a variable.

In [ ]:

x = 42
print("The type of x is:", type(x))

### Q9. Use `type()` function to check the data type of a variable.

In [ ]:

a = 3.14
print("The type of a is:", type(a))

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [ ]:

num = float(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

### Q12. Write a program to check if a number is even or odd.

In [ ]:
# Q12. Check if a number is even or odd
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [ ]:

for i in range(3):
    print("Eslam Ayman")

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [ ]:

for i in range(1, 11):
    print(i)

### Q15. Use a `for` loop to iterate over a list and print each element.

In [ ]:

my_list = ['apple', 'banana', 'cherry', 'date']

for item in my_list:
    print(item)

### Q15. Use a `for` loop to iterate over a list and print each element.

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:

total = 0
for i in range(1, 101):
    total += i

print("The sum from 1 to 100 is:", total)

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [ ]:

for i in range(1, 21):
    if i % 2 == 0:
        print(i)

### Q18. Write a `for` loop to print each character in a string.

In [ ]:

my_string = "Python"

for char in my_string:
    print(char)

### Q19. Use a `for` loop to print all values in a dictionary.

In [ ]:

my_dict = {
    "name": "Eslam",
    "age": 22,
    "city": "Cairo"
}

for value in my_dict.values():
    print(value)

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [ ]:


num = int(input("Enter a number: "))
factorial = 1

if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

### Q21. Create a list of your 5 favorite fruits.

In [ ]:

favorite_fruits = ["mango", "banana", "apple", "strawberry", "orange"]
print("My favorite fruits are:", favorite_fruits)

### Q22. Add a new fruit to your list of favorite fruits.

In [ ]:

favorite_fruits = ["mango", "banana", "apple", "strawberry", "orange"]

# Add a new fruit
favorite_fruits.append("grape")

print("Updated list of favorite fruits:", favorite_fruits)

### Q23. Remove the second item from a list.

In [ ]:

fruits = ["mango", "banana", "apple", "strawberry", "orange"]

# Remove the second item (index 1)
fruits.pop(1)

print("Updated list:", fruits)

### Q24. Sort a list of numbers in descending order.

In [ ]:

numbers = [5, 12, 3, 8, 1, 20]

# Sort in descending order
numbers.sort(reverse=True)

print("Sorted list (descending):", numbers)

### Q25. Find the maximum and minimum values in a list.

In [ ]:
items = [1, 2, 3, 2, 4, 2, 5]
count = items.count(2)
print("Q26: Number 2 appears", count, "times")

### Q26. Count how many times a value appears in a list.

In [ ]:

numbers = [4, 2, 7, 4, 4, 9, 2, 4]

# Count how many times 4 appears
count_4 = numbers.count(4)

print("The number 4 appears", count_4, "times.")

### Q27. Check if a specific value exists in a list.

In [ ]:

fruits = ["apple", "banana", "mango", "orange"]

# Check if "banana" is in the list
if "banana" in fruits:
    print("Yes, 'banana' is in the list.")
else:
    print("No, 'banana' is not in the list.")

### Q28. Reverse a list without using reverse() function.

In [ ]:

fruits = ["apple", "banana", "mango", "orange"]

# Check if "banana" is in the list
if "banana" in fruits:
    print("Yes, 'banana' is in the list.")
else:
    print("No, 'banana' is not in the list.")

### Q29. Make a copy of a list and modify the copy only.

In [ ]:

original_list = ["apple", "banana", "mango"]

# Make a copy of the list
copied_list = original_list.copy()

# Modify the copied list
copied_list.append("grape")

print("Original list:", original_list)
print("Copied list (modified):", copied_list)

### Q30. Use slicing to get the first 3 items of a list.

In [ ]:

fruits = ["apple", "banana", "mango", "orange", "grape"]

first_three = fruits[:3]

print("First 3 items:", first_three)

### Q31. Create a tuple with 4 elements and print its length.

In [ ]:

my_tuple = (10, 20, 30, 40)

print("Tuple:", my_tuple)
print("Length of the tuple:", len(my_tuple))

### Q32. Access the last element of a tuple.

In [ ]:

my_tuple = ("apple", "banana", "cherry", "date")

# Accessing the last element using negative indexing
last_item = my_tuple[-1]

print("Last element of the tuple:", last_item)

### Q33. Convert a tuple into a list.

In [ ]:

my_tuple = ("apple", "banana", "cherry")

# Convert tuple to list
my_list = list(my_tuple)

print("Original tuple:", my_tuple)
print("Converted list:", my_list)

### Q34. Convert a list into a tuple.

In [ ]:

my_list = ["apple", "banana", "cherry"]

# Convert list to tuple
my_tuple = tuple(my_list)

print("Original list:", my_list)
print("Converted tuple:", my_tuple)

### Q35. Check if a value exists in a tuple.

In [ ]:

my_tuple = ("apple", "banana", "cherry", "date")

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

### Q36. Concatenate two tuples.

In [ ]:

tuple1 = ("apple", "banana")
tuple2 = ("cherry", "date")

# Concatenate the tuples
combined_tuple = tuple1 + tuple2

print("Concatenated tuple:", combined_tuple)

### Q35. Check if a value exists in a tuple.

In [ ]:

my_tuple = ("apple", "banana", "cherry", "date")

# Check if "banana" is in the tuple
if "banana" in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

### Q37. Repeat a tuple 3 times.

In [ ]:
# Q37. Repeat a tuple 3 times
my_tuple = ("apple", "banana")

# Repeat the tuple 3 times
repeated_tuple = my_tuple * 3

print("Repeated tuple:", repeated_tuple)

### Q38. Find the index of an element in a tuple.

In [ ]:
# Q38. Find the index of an element in a tuple
my_tuple = ("apple", "banana", "cherry", "date")

# Find the index of "cherry"
index = my_tuple.index("cherry")

print("The index of 'cherry' is:", index)

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:

my_tuple = ("apple", "banana", "cherry")

# Unpack the tuple into variables
fruit1, fruit2, fruit3 = my_tuple

print("Fruit 1:", fruit1)
print("Fruit 2:", fruit2)
print("Fruit 3:", fruit3)

### Q40. Create a nested list and access an inner element.

In [ ]:

nested_list = [
    ["apple", "banana"],
    ["cherry", "date"],
    ["fig", "grape"]
]

# Access "date" (which is the second element of the second list)
inner_element = nested_list[1][1]

print("Accessed inner element:", inner_element)

### Q41. Create a set of 5 unique colors.

In [ ]:

color_set = {"red", "blue", "green", "yellow", "purple"}

print("Set of colors:", color_set)

### Q42. Add a new color to the set.

In [ ]:

color_set = {"red", "blue", "green", "yellow", "purple"}

# Add a new color
color_set.add("orange")

print("Updated set of colors:", color_set)

### Q43. Remove an item from the set using `remove()`.

In [ ]:

color_set = {"red", "blue", "green", "yellow", "purple"}

# Remove "green" from the set
color_set.remove("green")

print("Updated set of colors:", color_set)

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:

color_set = {"red", "blue", "green", "yellow", "purple"}

# Try to remove "orange" (which is not in the set)
color_set.discard("orange")

print("Updated set of colors:", color_set)

### Q45. Create a set from a list with duplicate values.

In [ ]:
duplicate_list = [1, 2, 2, 3, 3, 4, 4, 5]
unique_set = set(duplicate_list)
print("Q45: Set from list with duplicates:", unique_set)

### Q46. Find the union of two sets.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
union_set = set1.union(set2)
print("Q46: Union of sets:", union_set)

### Q47. Find the intersection of two sets.

In [ ]:
intersection_set = set1.intersection(set2)
print("Q47: Intersection of sets:", intersection_set)

### Q48. Find the difference between two sets.

In [ ]:
difference_set = set1.difference(set2)
print("Q48: Difference (set1 - set2):", difference_set)

### Q49. Check if a set is a subset of another set.

In [ ]:
subset = {1, 2}
superset = {1, 2, 3, 4, 5}
is_subset = subset.issubset(superset)
print("Q49: Is {1, 2} a subset of {1, 2, 3, 4, 5}?", is_subset)

### Q50. Check if two sets are disjoint.

In [ ]:
set_a = {1, 2, 3}
set_b = {4, 5, 6}
are_disjoint = set_a.isdisjoint(set_b)
print("Q50: Are sets {1, 2, 3} and {4, 5, 6} disjoint?", are_disjoint)

### Q51. Create a dictionary with 3 items: name, age, and city.

In [ ]:
person = {"name": "Sarah", "age": 28, "city": "Boston"}
print("Q51: Person dictionary:", person)

### Q52. Add a new key-value pair to the dictionary.

In [ ]:
person["occupation"] = "Engineer"
print("Q52: After adding occupation:", person)

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
person["age"] = 29
print("Q53: After updating age:", person)

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
removed_value = person.pop("city")
print("Q54: Removed value:", removed_value)
print("Q54: Dictionary after removal:", person)

### Q55. Check if a key exists in the dictionary.

In [ ]:
if "name" in person:
    print("Q55: 'name' key exists in dictionary")
else:
    print("Q55: 'name' key does not exist in dictionary")

### Q56. Loop through a dictionary and print all keys and values.

In [ ]:
print("Q56: Dictionary keys and values:")
for key, value in person.items():
    print(f"{key}: {value}")

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
all_keys = person.keys()
print("Q57: All keys:", list(all_keys))

### Q58. Get all values from a dictionary using `values()`.

In [ ]:
all_values = person.values()
print("Q58: All values:", list(all_values))

### Q59. Get all key-value pairs using `items()`.

In [ ]:
all_items = person.items()
print("Q59: All key-value pairs:", list(all_items))

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [ ]:
keys_list = ["name", "age", "city", "country"]
values_list = ["Emma", 24, "London", "UK"]
combined_dict = dict(zip(keys_list, values_list))
print("Q60: Dictionary from two lists:", combined_dict)